* {
  box-sizing: border-box;
} /* transition */
/* flex */
/* transform */
/* opacity */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/
/*-- Common Style --*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Rubik", sans-serif;
  color: #222222;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

button:hover {
  color: wheat;
}

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:focus {
  box-shadow: none;
}

a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: wheat;
}

button,
input[type=submit] {
  cursor: pointer;
}

.logo img {
  max-width: 120px;
}

@media only screen and (max-width: 767px) {
  .logo img {
    max-width: 80px;
  }
}
@media only screen and (max-width: 575px) {
  .logo img {
    max-width: 60px;
  }
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__img {
  height: 300px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
ul li {
  display: inline;
}

figure {
  padding: 0;
  margin: 0;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.none {
  display: none;
}

.block {
  display: block;
}

.container {
  max-width: 1200px;
}

/*-- 
    - DropDown
-----------------------------------------*/
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(238, 224, 199);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #dddddd37;
}

.dislay_flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 02. Element */
.button {
  border: none;
  background: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.card_bg {
  background: transparent;
  padding: 25px;
  display: flex;
  justify-content: center;
}
#home{
  border-radius: 10px 10px 0 0;
}
.card {
  width: 324px;
  height: 500px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  border: 1px solid rgba(0, 0, 0, 0.541);
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.582);
}
.card:hover .card_text {
  display: block;
}
.card p {
  transition: 1s;
  margin-bottom: 5px;
}
.card .card_type {
  background-color: wheat;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1;
  opacity: 0.8;
  padding: 5px;
}
.card .card_type span {
  color: black;
  font-size: 16px;
}
.card .card_img {
  width: 324px;
  height: 200px;
}
.card .card_img img {
  width: 324px;
  height: 200px;
  display: block;
}
.card .card_name {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.card .card_text {
  color: rgba(0, 0, 0, 0.842);
  font-size: 16;
  font-weight: 400;
  display: none;
  transition: 1s;
}
.card .card_price {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.card .card-body {
  transition: 1s;
}

/* BackToTop  */
.backToTop {
  position: fixed;
  right: 15px;
  bottom: 90px;
  z-index: 99;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 47px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: wheat;
  background-color: rgba(24, 21, 21, 0.979);
  border: none;
  outline: none;
  border-radius: 50px;
  border-style: solid;
  border-width: 0;
  padding: 0;
  transition: 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  /* display: block; */
}

.backToTop:hover {
  color: black;
  background-color: wheat;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-out;
}

/* BackToTop  */
.main_header .count {
  background-color: wheat;
  line-height: 0.6;
  font-size: 10px;
  top: -15px;
  right: 0;
  position: absolute;
  border-radius: 50%;
  color: black;
  padding: 7px;
  opacity: 0.7;
  font-weight: 700;
  z-index: 0.9;
}
.main_header span {
  color: rgba(0, 0, 0, 0.685);
}
.main_header .form-control {
  padding: 1rem 0.75rem;
  border-radius: 25px;
  border: 1px solid wheat;
}
.main_header .header_icon {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 47px 20px 47px 35px;
  font-size: 20px;
  border-left: 2px solid rgb(241, 236, 227);
  border-right: 2px solid rgb(241, 236, 227);
}
.main_header .header_icon li {
  padding-right: 15px;
}
.main_header .header_icon button i {
  font-size: 20px;
}
.main_header .header_top .dropbtn:hover {
  color: black;
}
.main_header .header_mid {
  border-top: 2px solid rgb(241, 236, 227);
}
.main_header .header_mid .btn-outline-primary {
  font-weight: 700;
  background-color: rgba(240, 214, 161, 0.397);
  color: rgb(99, 83, 55);
  border: 1px solid wheat;
}
.main_header .header_mid .btn-outline-primary:hover {
  background-color: wheat;
  color: black;
}
.main_header .header_bottom {
  background-color: #fff;
  border-top: 2px solid rgb(241, 236, 227);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.main_header .header_bottom .icon-count2 .count {
  top: -7px;
  right: -15px;
}
.main_header .header_bottom .navbar-toggler {
  border: none;
  color: transparent;
}
.main_header .header_bottom .nav-link {
  color: rgb(214, 186, 132);
  font-size: 16px;
  font-weight: 600;
}
.main_header .header_bottom .nav-link:hover {
  color: wheat;
}
.main_header .navbar {
  padding: 0;
  margin: 0;
}
.main_header .navbar-light .navbar-nav .nav-link.active {
  color: rgb(221, 149, 14);
}
.main_header .nav-link {
  padding: 10px 50px;
}
.main_header .fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.main_header .fixed .container {
  width: 100vw;
}

@media only screen and (max-width: 992px) {
  .main_header .count {
    top: -5px;
    font-size: 9px;
    padding: 6px;
  }
  .main_header .header_icon {
    border: none;
    padding: 0;
  }
  .main_header .header_icon li i,
.main_header .header_icon li a,
.main_header .header_icon li button {
    font-size: 14px;
  }
  .main_header .search form .form-control {
    padding: 0.5rem 0.75rem;
  }
  .main_header .search form input,
.main_header .search form button {
    font-size: 14px;
  }
  .main_header .header_bottom .dropdown-content {
    width: 100%;
  }
}
.carousel {
  background-color: #040404;
}
.carousel .btn-outline-primary {
  color: wheat;
  font-weight: 500;
  border: 1px solid wheat;
}
.carousel .btn-outline-primary:hover {
  background-color: wheat;
  color: #040404;
}
.carousel .pc_carousel_content {
  position: relative;
}
.carousel .pc_carousel_content .item__pc__bg {
  min-height: calc(100vh - 40px);

  border-radius: 5px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  padding: 3em 0;
}
.carousel .pc_carousel_content .pc__bg__01 {
  background-image: url(../img/ArtCarousel/iphone13rose.jpg);
}
.carousel .pc_carousel_content .pc__bg__02 {
  background-image: url(../img/ArtCarousel/iphone13black.jpg);
}
.carousel .pc_carousel_content .pc__bg__03 {
  background-image: url(../img/ArtCarousel/iphone2.jpg);
}
.carousel .pc_carousel_content .pc__bg__04 {
  background-image: url(../img/ArtCarousel/iphone3.jpg);
}
.carousel .pc_carousel_content .pc__bg__05 {
  background-image: url(../img/ArtCarousel/op1.jpg);
}
.carousel .pc_carousel_content .pc__bg__06 {
  background-image: url(../img/ArtCarousel/ss1.jpg);
}
.carousel .pc_carousel_content .pc__bg__07 {
  background-image: url(../img/ArtCarousel/xingye-jiang-tXlWnzBX2ys-unsplash.jpg);
}
.carousel .pc_carousel_content .item__pc__content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .owl-stage {
  transition: 1s;
}
.carousel .owl-stage:hover h5 {
  font-size: 60px;
}
.carousel .owl-stage:hover p {
  font-size: 30px;
}
.carousel h5 {
  color: wheat;
  font-size: 45px;
  font-weight: 600;
  transition: 1s;
}
.carousel p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  transition: 1s;
  opacity: 0.9;
}
.carousel .owl-dots {
  margin-top: 0px;
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.carousel .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}
.carousel .owl-theme .owl-dots .owl-dot.active span,
.carousel .owl-theme .owl-dots .owl-dot:hover span {
  background: wheat;
  width: 30px;
  height: 10px;
}

@media only screen and (max-width: 992px) {
  .carousel .carousel__bg h5 {
    font-size: 30px;
    margin: 0;
  }
  .carousel .carousel__bg p {
    font-size: 14px;
  }
  .carousel .owl-stage {
    transition: 1s;
  }
  .carousel .owl-stage:hover h5 {
    font-size: 45px;
  }
  .carousel .owl-stage:hover p {
    font-size: 20px;
  }
}
.cart {
  z-index: 20;
  display: flex;
}
.cart .side_nav {
  display: flex;
  position: fixed;
  background: #010101;
  height: 100%;
  width: 60%;
  flex-direction: column;
  top: 0;
  right: 0;
  z-index: 25;
  transition: 0.5s;
}
.cart .side_nav .price {
  color: wheat;
}
.cart .side_nav .fa-times {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
}
.cart .side_nav h2 {
  color: wheat;
  align-self: center;
  transform: translateY(1rem);
  font-size: 2rem;
  font-weight: 600;
}
.cart .side_nav .cart-items {
  display: flex;
  position: absolute;
  width: 90%;
  margin: 0 5%;
  height: 50%;
  top: 10%;
  flex-direction: column;
}
.cart .side_nav .cart-items strong {
  margin: 0;
  padding: 0;
  display: contents;
}
.cart .side_nav .cart-items .empty-cart {
  margin: auto 0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}
.cart .side_nav .cart-items .cart-item {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid whitesmoke;
}
.cart .side_nav .cart-items .cart-item .cart-img {
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
}
.cart .side_nav .cart-items .cart-item .cart-img img {
  width: 100%;
  align-self: center;
}
.cart .side_nav .cart-items .cart-item .qty-change {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.cart .side_nav .cart-items .cart-item .qty-change .qty {
  color: wheat;
}
.cart .side_nav .cart-items .cart-item .qty-change .btn-qty {
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  margin: 0 5px;
}
.cart .side_nav .cart-items .cart-item .qty-change .btn-qty:hover {
  background: wheat;
  color: black;
}
.cart .side_nav .cart-items .cart-item .btn-rm {
  color: white;
  transition: 0.5s;
}
.cart .side_nav .cart-items .cart-item .btn-rm:hover {
  color: wheat;
}
.cart .side_nav .final {
  position: absolute;
  align-self: flex-end;
  flex-direction: column;
  bottom: 10%;
  display: flex;
}
.cart .side_nav .final .action {
  display: flex;
  justify-content: space-evenly;
}
.cart .side_nav .final .action .btn {
  font-size: 1.2rem;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  margin-right: 20px;
  border-radius: 10px;
  transition: 0.5s;
}
.cart .side_nav .final .action .btn:hover {
  color: wheat;
  border: 1px solid wheat;
}
.cart .side_nav strong {
  color: wheat;
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 1rem;
}

.cover {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  z-index: 15;
}

.sale {
  position: relative;
  background: rgba(0, 0, 0, 0.836);
  padding: 100px 0;
}
.sale h2 {
  position: absolute;
  top: 80%;
  left: 20%;
  color: wheat;
  font-size: x-large;
  font-weight: 600;
  text-decoration: underline;
}
.sale .col-12 .col-lg-6 {
  margin: 200px 0;
}
.sale .big_sale {
  position: relative;
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url(../img/ArtCarousel/xingye-jiang-tXlWnzBX2ys-unsplash.jpg);
  transition: 1s;
}
.sale .big_sale:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.sale .top_product {
  position: relative;
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url(../img/ArtCarousel/iphone13black.jpg);
  transition: 1s;
}
.sale .top_product:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

@media only screen and (max-width: 992px) {
  .sale .big_sale {
    height: 400px;
  }
  .sale .top_product {
    height: 400px;
  }
}
@media only screen and (max-width: 720px) {
  .sale .big_sale {
    height: 300px;
  }
  .sale .top_product {
    height: 300px;
  }
}
.productList {
  background: rgb(240, 233, 221);
  padding: 100px 0;
}
.productList h2 {
  color: #d8ab51;
  font-weight: 700;
}
.productList h3 {
  color: black;
  font-size: 20px;
  background: wheat;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .productList h2 {
    font-size: 26px;
  }
  .productList h3 {
    font-size: 18px;
    line-height: 1.1;
  }
  .productList .card_name {
    font-size: 16px;
  }
  .productList .card_text {
    font-size: 12px;
  }
  .productList .card_price {
    font-size: 16px;
  }
  .card p {
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .productList h2 {
    font-size: 20px;
  }
  .productList h3 {
    font-size: 16px;
    line-height: 1.1;
    text-decoration: none;
  }
}
/*  07. footer area css here */
.footer_top {
  padding: 99px 0 89px;
  border-top: 1px solid wheat;
  border-bottom: 1px solid wheat;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_top {
    padding: 79px 0 31px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_top {
    padding: 55px 0 4px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container {
    margin-bottom: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container {
    margin-bottom: 43px;
  }
}
@media only screen and (max-width: 575px) {
  .widgets_container {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container.widget_menu {
    margin-bottom: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container.widget_app {
    margin-bottom: 55px;
  }
}
.widgets_container h3 {
  color: #d6ba84;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 31px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.widgets_container h3::before {
  content: "";
  width: 100px;
  height: 2px;
  background: #d6ba84;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 575px) {
  .widgets_container h3::before {
    left: 50%;
    transform: translatex(-50%);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container h3 {
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container h3 {
    margin-bottom: 12px;
    font-size: 14px;
    display: inline-block;
  }
}

.footer_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}
.footer_logo img {
  height: 40px;
  width: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_logo {
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_logo {
    margin-bottom: 20px;
  }
}
.footer_logo a img {
  width: 150px;
}

.contact_us > p {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 0;
}
.contact_us > p b {
  font-weight: 500;
}
.contact_us > p:last-child {
  margin-top: 50px;
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contact_us > p:last-child {
    margin-top: 22px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact_us > p:last-child {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .contact_us > p:last-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .contact_us > p {
    font-size: 13px;
  }
}

.footer_menu ul li {
  padding-bottom: 2px;
}
.footer_menu ul li:last-child {
  padding-bottom: 0;
}
.footer_menu ul li a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.footer_menu ul li a:hover {
  color: rgb(221, 149, 14);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_menu ul li a {
    font-size: 14px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_menu ul li a {
    line-height: 22px;
    font-size: 13px;
  }
}

.footer_social {
  margin-top: 23px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_social {
    margin-top: 17px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_social {
    margin-top: 15px;
  }
}
.footer_social ul li {
  display: inline-block;
  margin-right: 8px;
}
.footer_social ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .footer_social ul li {
    margin-right: 6px;
  }
}
.footer_social ul li a {
  width: 42px;
  height: 42px;
  line-height: 44px;
  display: block;
  text-align: center;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 50%;
}
.footer_social ul li a:hover {
  color: white;
  background: rgb(255, 213, 136);
}
@media only screen and (max-width: 767px) {
  .footer_social ul li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .copyright_area {
    text-align: center;
    margin-bottom: 17px;
  }
}
.copyright_area p {
  text-transform: capitalize;
  line-height: 25px;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .copyright_area p {
    letter-spacing: 0;
    font-size: 13px;
    line-height: 20px;
  }
}
.copyright_area p a {
  color: rgb(248, 184, 66);
}
.copyright_area p a:hover {
  text-decoration: underline;
}

.footer_widgetnav_menu {
  text-align: center;
}
.footer_widgetnav_menu ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer_widgetnav_menu ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .footer_widgetnav_menu ul li {
    margin-right: 14px;
  }
}
.footer_widgetnav_menu ul li a {
  font-size: 14px;
  line-height: 30px;
}
.footer_widgetnav_menu ul li a:hover {
  color: rgb(221, 149, 14);
}

.footer_app {
  text-align: center;
  margin-top: 32px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_app {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_app {
    margin-top: 22px;
  }
}
.footer_app ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_app ul li:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_app ul li {
    margin-right: 6px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_app ul li {
    margin-right: 6px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_app ul li {
    margin-right: 4px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_app ul li a img {
    max-width: 140px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_app ul li a img {
    max-width: 135px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_app ul li a img {
    max-width: 128px;
  }
}

.footer_payment {
  text-align: right;
}

.footer_bottom {
  padding: 29px 0;
}
@media only screen and (max-width: 767px) {
  .footer_bottom {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 992px) {
  .footer_widgets .footer_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_widgets .contact_us, .footer_widgets .widget_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.wrapper {
  background-color: #3737cb;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.wrapper .navbar {
  padding: 10px 30px 10px 15px;
}
.wrapper .navbar .navbar-logo {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  position: fixed;
}
.wrapper .navbar .navbar-logo span {
  padding-left: 10px;
}
.wrapper .navbar .navbar-logo i {
  font-size: 25px;
}
.wrapper .navbar #btn-search-header {
  justify-content: flex-end;
  margin-right: 20px;
}
.wrapper .navbar #btn-search-header input {
  border: 1px solid #d8ed29;
  color: white;
}
.wrapper .navbar #btn-search-header input:focus {
  box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #d8ed29;
}
.wrapper .navbar #btn-search-header button {
  border: 1px solid #d8ed29;
  color: white;
}
.wrapper .navbar #btn-search-header button:focus {
  box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #d8ed29;
}
.wrapper .navbar .nav-item {
  position: relative;
}
.wrapper .navbar .nav-item .nav-link {
  position: relative;
}
.wrapper .navbar .nav-item .nav-link img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .navbar .nav-item .nav-link.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: -10px;
  color: white;
}
.wrapper .navbar .nav-item .dropdown-menu {
  bottom: -230%;
  right: 0;
  left: unset;
  z-index: 99;
  padding: 10px;
}
.wrapper .navbar .nav-item .dropdown-menu .dropdown-item {
  font-size: 0.9em;
  color: #9a9a9a;
}
.wrapper .sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 230px;
  height: calc(100vh - 120px);
  background: linear-gradient(0deg, #389466, #42b883);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.589);
  transition: all 0.3s;
  margin: 80px 0 0 30px;
  border-radius: 10px;
  z-index: 99;
  padding: 20px;
}
.wrapper .sidebar-menu .sidebar-header {
  padding: 10px;
  color: black;
  border-bottom: 1px solid white;
}
.wrapper .sidebar-menu .sidebar-header i {
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
.wrapper .sidebar-menu .sidebar-header span {
  font-size: 20px;
  font-weight: 400;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item {
  padding: 7px 0;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item a i {
  padding-right: 10px;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item a {
  padding: 0 10px;
  position: relative;
  color: black;
  opacity: 0.7;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item a:hover {
  opacity: 1;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item .subMenu li a {
  padding-left: 45px;
  font-size: 0.9em;
  font-weight: 400;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item .dropdown-toggle {
  position: relative;
  width: 100%;
  display: block;
}
.wrapper .sidebar-menu .sidebar-list .sidebar-item .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.wrapper .sidebar-menu a {
  color: #191919;
}
.wrapper .sidebar-menu.active {
  margin-left: -250px;
}
.wrapper .content {
  background-color: #1e1e2f;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: all 0.3s ease;
}
.wrapper .content.active {
  padding-left: 40px;
  transition: all 0.3s ease;
}
.wrapper .content .tableSP {
  background-color: #5c3983;
  height: 40vh;
  box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  border-radius: 10px;
  padding: 20px;
  min-height: 83vh;
}
.wrapper .content .tableSP h3 {
  color: white;
  font-weight: 400;
}
.wrapper .content .tableSP .custom-select {
  border: 1px solid #d8ed29;
  color: white;
  color: black;
}
.wrapper .content .tableSP .custom-select:focus {
  box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #d8ed29;
}
.wrapper .content .tableSP .custom-select:focus {
  color: black;
}
.wrapper .content .tableSP #btnAdd {
  border: 1px solid #d8ed29;
  color: white;
}
.wrapper .content .tableSP #btnAdd:focus {
  box-shadow: 0 0 45px 0 rgba(8, 8, 8, 0.582);
  color: #d8ed29;
}
.wrapper .content .tableSP .table {
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 82%;
}
.wrapper .content .tableSP .table thead tr th {
  border-top: none;
  color: rgba(255, 255, 255, 0.911);
  font-size: 1em;
  font-weight: 400;
}
.wrapper .content .tableSP .table tr,
.wrapper .content .tableSP .table th,
.wrapper .content .tableSP .table td {
  border-color: rgba(255, 255, 255, 0.096);
}
.wrapper .content .tableSP .table th,
.wrapper .content .tableSP .table td {
  color: hsla(0deg, 0%, 100%, 0.7);
  font-size: 0.9em;
  font-weight: 400;
}
.wrapper .content .tableSP .table img {
  width: 50px;
}
.wrapper .modal-content {
  background: linear-gradient(0deg, #389466, #42b883);
}
.wrapper .modal-content label {
  color: white;
  opacity: 0.8;
}
.wrapper .modal-content h5 {
  color: #1e1e2f;
}
.wrapper .modal-content select:focus,
.wrapper .modal-content input:focus,
.wrapper .modal-content textarea:focus {
  box-shadow: 0 0 25px 0 rgba(8, 8, 8, 0.582);
}
.wrapper .modal-content .btn-modal {
  color: white;
  background-color: #1e1e2f;
  opacity: 0.95;
}
.wrapper .modal-content .btn-modal:hover,
.wrapper .modal-content .btn-modal:focus {
  box-shadow: 0 0 15px 0 rgba(8, 8, 8, 0.582);
  opacity: 1;
}
.wrapper .invalid-feedback {
  color: #191919;
  font-size: 100%;
}

@media (max-width: 1199px) {
  .wrapper .sidebar-menu {
    margin-left: -250px;
  }
  .wrapper .sidebar-menu.active {
    margin-left: 40px;
  }
  .wrapper .content {
    padding-left: 30px;
  }
  .wrapper .content.active {
    margin-left: 250px;
  }
}
@media (max-width: 991px) {
  .wrapper .navbar-nav {
    margin-right: 10px !important;
  }
  .wrapper .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    right: -15px;
  }
  .wrapper .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .wrapper .navbar .container-fluid {
    flex-wrap: nowrap;
  }
  .wrapper .navbar #btn-search-header {
    display: flex;
  }
}
@media (max-width: 575px) {
  .wrapper .navbar #btn-search-header {
    display: none;
  }
  .wrapper .navbar .navbar-logo {
    left: 0;
  }
  .wrapper .navbar .container-fluid {
    justify-content: flex-end;
  }
}/*# sourceMappingURL=main.css.map */