.carousel{
  background-color: #040404;
  .btn-outline-primary{
    color: wheat;
    font-weight: 500;
    border: 1px solid wheat;
    &:hover{
      background-color: wheat;
      color: #040404;
    }
  }
    .pc_carousel_content {
        position: relative;
        .item__pc__bg {
            min-height: calc(100vh - 40px);
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 0;
            padding: 3em 0;
            
          }
          .pc__bg__01 {
            background-image: url(../img/ArtCarousel/iphone13rose.jpg);  
          }
          .pc__bg__02 {
            background-image: url(../img/ArtCarousel/iphone13black.jpg);
          }
          .pc__bg__03 {
            background-image: url(../img/ArtCarousel/iphone2.jpg);
          }
          .pc__bg__04 {
            background-image: url(../img/ArtCarousel/iphone3.jpg);
          }
          .pc__bg__05 {
            background-image: url(../img/ArtCarousel/op1.jpg);
          }
          .pc__bg__06 {
            background-image: url(../img/ArtCarousel/ss1.jpg);
          }
          .pc__bg__07 {
            background-image: url(../img/ArtCarousel/xingye-jiang-tXlWnzBX2ys-unsplash.jpg);
          }
          .item__pc__content {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
      }
      .owl-stage{
        transition: 1s;
        &:hover h5{
          font-size: 60px;
        }
        &:hover p{
          font-size: 30px;
        }
      }
      h5{
        color: wheat;
        font-size: 45px;
        font-weight: 600;
        transition: 1s;
      }
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 30px;
        transition: 1s;
        opacity: 0.9;
      }
      .owl-dots {
        margin-top: 0px;
        position: absolute;
        display: flex;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,-50%);
      }
      .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 8px;
        background: #fff;
        display: block;
        transition: opacity 0.2s ease;
        border-radius: 25px;
        position: relative;
        opacity: 0.9;
      }
      .owl-theme .owl-dots .owl-dot.active span,
      .owl-theme .owl-dots .owl-dot:hover span {
        background: wheat;
        width: 30px;
        height: 10px;
      }
}