.sale {
    position: relative;
    background: rgba(0, 0, 0, 0.836);
    padding: 100px 0;

    h2 {
        position: absolute;
        top: 80%;
        left: 20%;
        color: wheat;
        font-size: x-large;
        font-weight: 600;
        text-decoration: underline;
    }
    .col-12 .col-lg-6 {
        margin: 200px 0;
    }
    .big_sale {
        position: relative;
        background-size: cover;
        height: 600px;
        // background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/ArtCarousel/xingye-jiang-tXlWnzBX2ys-unsplash.jpg);
        transition: 1s;
        &:hover {
            opacity: 0.7;
            transform: scale(1.1);
        }
    }
    .top_product {
        position: relative;
        background-size: cover;
        height: 600px;
        // background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/ArtCarousel/iphone13black.jpg);
        transition: 1s;
        &:hover {
            opacity: 0.7;
            transform: scale(1.1);
        }
    }
}
@media only screen and (max-width: 992px) {
    .sale {
        .big_sale {
            height: 400px;
        }
        .top_product {
            height: 400px;
        }
    }
}
@media only screen and (max-width: 720px) {
    .sale {
        .big_sale {
            height: 300px;
        }
        .top_product {
            height: 300px;
        }
    }
}
